@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.audience_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    float: left;
    margin: 16px 0 0 16px;
    border-radius: 5px; /* 5px rounded corners */
}

.grid {
  display: grid;
   grid-template-areas: "a a a";
   grid-auto-columns: 1fr 1fr 1fr;

}

.audience_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.stats {
    padding: 0 0 10px 0;
    border-top: 4px solid #FFF;
    text-align: center;
    background-color: #FFF;
}

.stats a {
    text-decoration: none;
}

.stats span {
    color: #000;
    display: block;
}

.stats ul {
    margin: 0;
    padding: 10px 0 0 0;
    display: block;
}

.stats li {
    width: 50%;
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    color: #AAA;
    text-decoration: none;
}

.stats li span {
    color: #000;
    font-size: 20px;
    display: block;
}


.details {
    padding: 0 0 10px 0;
    border-top: 4px solid #FFF;
    text-align: center;
    background-color: #FFF;
}

.details a {
    text-decoration: none;
}

.details span {
    color: #000;
    display: block;
}

.details #name {
    font-size: 20px;
}

.details #nick {
    font-size: 14px;
}

.details #description {
    font-size: 14px;
}

.details ul {
    margin: 0;
    padding: 10px 0 0 0;
    display: block;
}

.details li {
    width: 32%;
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    color: #AAA;
    text-decoration: none;
}

.details li span {
    color: #000;
    font-size: 20px;
    display: block;
}

.pp {
    margin-top: -40px;
}

.pp img {
    border-radius: 50%;
    min-width: 80px;
    max-width: 80px;
    border: 4px solid #FFF;
}

.bg {
    border-radius: 5px 5px 0 0;
    background-repeat: no-repeat;
    background-color: rgba(29, 161, 242, 1);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
