.help-block {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}

form {
		text-align: center;
		float:center;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
		float:center;
}
#todo {
    margin: 0 auto;
    width: 100%;
		float:center;
}

a.close {
  float: right;
}

body{
		width:100%;
		float:center;
    height:100%;
}
.btn-gray {
  color: #fff;
  background-color: #eee;
  border-color: #ccc;
  color: #000;
}

.btn.borderless {
    border: none;
    background:inherit;
}

.btn.borderless.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rb {
    border-right: 1px solid #ccc;
}

.topcis-header {
  margin-top: 20px;
  margin-bottom: -1px;
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
  padding-top:5px;
  padding-bottom:5px;
}
