.topic_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    float: left;
    margin: 15px 0 0 15px;
    perspective: 1000px;
}

.topic_card, .front, .back {
	width: auto;
    height: 400px;
    overflow: auto;
}

.text_over_image{
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 2.4rem;
    color: whitesmoke;
}   

/* flip the pane when hovered */
.topic_card:hover .flipper, .topic_card.hover .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    background-color: black;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.grid {
  display: grid;
   grid-template-areas: "a a a";
   grid-auto-columns: 1fr 1fr 1fr;

}

.topic_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

hr {
    border-top: 1px solid #8c8b8b;
    margin-top: 15px;
}

h3 {
    display: inline;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
