@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.grid {
  display: grid;
   grid-template-areas: "a a";
   grid-auto-columns: 1fr 1fr;
}

textarea {
    resize:none;
    overflow: hidden;
    border: none;
    width: 100%;
    height:auto;
}

input {
    background-color: transparent;
    border: 0px solid;
}

.tweet_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    float: left;
    margin: 16px 0 0 16px;
    padding-bottom: 16px;
    border-radius: 5px; /* 5px rounded corners */
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3em;
}

.tweet_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.details {
    padding-left: 24px;
    padding-right: 24px;
    border-top: 4px solid #FFF;
    background-color: #FFF;
}

.details a {
    text-decoration: none;
}

.details span {
    color: #000;
    display: block;
}

.details #description {
  font-size: 15px;
  line-height: 22px;
  font-weight: normal;
}

.details #date {
    padding: 12px 0px 12px 0px;
    font-size: 14px;
    color: #697882;
}

.pp {
    display: grid;
    grid-template-areas: "a a a";
    grid-auto-columns: 70px 1fr 150px;
    padding: 12px 16px 4px 16px;
}

.pp img {
    border-radius: 50%;
    min-width: 60px;
    max-width: 60px;
    border: 4px solid #FFF;
}

.pp #name {
    font-size: 18px;
}

.pp #nick {
    font-size: 15px;
    color: #697882;
}

.bg {
    border-radius: 5px 5px 0 0;
    background-repeat: no-repeat;
    background-color: rgba(29, 161, 242, 1);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#tweet_link {
    clear: both;
    float: left;
    height: 357.031px;
    text-align: left;
    text-size-adjust: 100%;
    width: 506px;
    perspective-origin: 253px 178.516px;
    transform-origin: 253px 178.516px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px 0px 4.52662px;
}/*#DIV_1*/

#ref {
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
    text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(225, 232, 237);
    border-radius: 5.99998px 5.99998px 5.99998px 5.99998px;
    overflow: hidden;
}/*#A_2*/

#image {
    height: 252px;
    width: 100%;
    background: rgb(225, 232, 237) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px solid rgb(225, 232, 237);
    border-right: 0px solid rgb(225, 232, 237);
    border-bottom: 1px solid rgb(225, 232, 237);
    border-left: 0px solid rgb(225, 232, 237);
}/*#DIV_3*/


#content {
    clear: both;
    float: left;
    height: 102.031px;
    padding: 10.5px 14px;
    text-align: left;
    text-size-adjust: 100%;
}/*#DIV_7*/

#title {
    font: normal normal 700 normal 14px / 18.2px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 2.1px;
    overflow: hidden;
}/*#H2_9*/

#tweet_link_description {
    height: 36px;
    max-height: 36.4px;
    text-align: left;
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 4.52662px 0px 0px;
    overflow: hidden;
}/*#P_10*/

#source {
    color: rgb(136, 153, 166);
    display: block;
    height: 18px;
    max-height: 18.2px;
    text-align: left;
    white-space: nowrap;
    font: normal normal 400 normal 14px / 18.2px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 4.52662px 0px 0px;
    overflow: hidden;
}/*#SPAN_1*/








fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }
