<!DOCTYPE html>
<html lang="en" wp-site wp-site-is-master-page>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/sweetalert.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- for alert template -->
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel=”stylesheet” id=”font-awesome-css”
          href=”https://use.fontawesome.com/releases/v5.0.8/css/all.css” type=”text/css” media=”screen”>

    <!-- for alertForm -->
    <link rel="stylesheet" href="/css/bootstrap-tagsinput.css">
    <style type="text/css">
        .form-alert form .input-error {
            border-color: #de615e;
        }

        .bootstrap-tagsinput {
            width: 100%;
        }

        .bootstrap-tagsinput input {
            width: 100%;
        }

        select {
            overflow: auto;
        }

        .img-circle {
            border-radius: 50%;
        }
    </style>

    {% if type == "conversation" %}
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        <link rel="stylesheet" type="text/css"
              href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/conversation.css"/>
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/conversation.js"></script>
    {% endif %}

    {% if type == "events" %}
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        <link rel="stylesheet" type="text/css"
              href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/event.css"/>
        <link rel="stylesheet" type="text/css" href="/css/event_card.css"/>
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/event.js"></script>
    {% endif %}

    {% if type == "alertlist" %}
        <link rel="stylesheet" type="text/css" href="/css/topic_card.css"/>
    {% endif %}

    {% if type == "news" or type=="bookmark" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/star-rating.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
        <script src="/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/moment-timezone.js"></script>
        <script src="/js/news.js"></script>
        <!--<link rel="stylesheet" type="text/css" href="/css/news_card.css"/>-->
    {% endif %}

    {% if type == "audiences" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/star-rating.css"/>
        <link rel="stylesheet" type="text/css" href="/css/audience_card.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% endif %}

    {% if type == "tweets" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/tweet_card.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css"/>
        <script src="/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/moment-timezone.js"></script>
        <script src="/js/tweets.js"></script>
    {% endif %}

    {% if type == "hashtag_chart" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <script src="/js/Chart.min.js"></script>
        <script type="text/javascript">
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        </script>
        <script src="/js/hashtags.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    {% endif %}

    {% if type == "mention_chart" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <script src="/js/Chart.min.js"></script>
        <script type="text/javascript">
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        </script>
        <script src="/js/mentions.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    {% endif %}

    {% if type == "influencers" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/influencer_card.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% endif %}

    {% if type == "recommendations" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/star-rating.css"/>
        <link rel="stylesheet" type="text/css" href="/css/audience_card.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {% endif %}

    {% if type == "editAlert" or type == "createAlert" %}
        <link rel="stylesheet" type="text/css" href="//css/event_card.css"/>
    {% endif %}

    {% if type == "profile" or type == "twitterAuth" %}
        <style type="text/css">
            @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");

            .spinner {
                display: inline-block;
                opacity: 0;
                max-width: 0;

                -webkit-transition: opacity 0.25s, max-width 0.45s;
                -moz-transition: opacity 0.25s, max-width 0.45s;
                -o-transition: opacity 0.25s, max-width 0.45s;
                transition: opacity 0.25s, max-width 0.45s;
                /* Duration fixed since we animate additional hidden width */
            }

            .has-spinner.active {
                cursor: progress;
            }

            .has-spinner.active .spinner {
                opacity: 1;
                max-width: 50px;
                /* More than it will ever come, notice that this affects on animation duration */
            }
        </style>
    {% endif %}

    {% if type == 'crons_log' %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
              integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
              crossorigin="anonymous">

        <style type="text/css">
            th {
                text-align: center;
                vertical-align: middle;
            }

            td {
                text-align: center;
                vertical-align: middle;
            }
        </style>
    {% endif %}

    {% if type == 'alertlist' %}
        <script type="text/javascript"> document.addEventListener('click', function (e) {
            if (document.activeElement.toString() == '[object HTMLButtonElement]') {
                document.activeElement.blur();
            }
        }); </script>
        <style type="text/css">
            .btn-outline {
                background-color: transparent;
                color: inherit;
                transition: all .5s;
            }

            .btn-success.btn-outline {
                color: #5cb85c;
            }

            .btn-success.btn-outline:hover {
                color: #fff;
            }
        </style>
    {% endif %}

</head>

<body style="padding-top:50px">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Topics" class="navbar-brand">Watchtower<br></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        APIs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/api">API v1</a>
                        </li>
                        <li>
                            <a href="/api/v1.1">API v1.1</a>
                        </li>
                        <li>
                            <a href="/api/v1.2">API v1.2</a>
                        </li>
                        <li>
                            <a href="/api/v1.3">API v1.3</a>
                        </li>
                    </ul>
                </li>

                <li {% if type=="tweets" %} class="active" {% endif %}>
                    <a href="/Tweets">Tweets</a>
                </li>

                <li {% if type=="hashtag_chart" %} class="active" {% endif %}>
                    <a href="/Hashtags">Hashtags</a>
                </li>

                <li {% if type=="mention_chart" %} class="active" {% endif %}>
                    <a href="/Mentions">Mentions</a>
                </li>

                <li {% if type=="news" %} class="active" {% endif %}>
                    <a href="/News">News</a>
                </li>

                <li {% if type=="conversation" %} class="active" {% endif %}>
                    <a href="/Conversations">Conversations</a>
                </li>


                <li class="dropdown" {% if type=="audiences" or type=="influencers" %} class="active" {% endif %}>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Community <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Audience">Audience</a>
                        </li>
                        <li>
                            <a href="/Influencers">Influencers</a>
                        </li>
                    </ul>
                </li>


                <li {% if type=="events" %} class="active" {% endif %}>
                    <a href="/Events">Events</a>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                            class="glyphicon glyphicon-user"></span> {{ username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">My Profile</a></li>
                        <li><a href="/crons-logs">Crons Logs</a></li>
                        <li><a href="/twitter_auth">Social Media Auth</a></li>
                        <li><a href="/Recommendations">Recommendations</a></li> <!-- Added for recommendations -->
                        <li><a href="/bookmark">Bookmarks</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-left">
                <li {% if type=="alertlist" or type=="editAlert" or type=="createAlert" %} class="active" {% endif %}>
                    <a href="/Topics"><strong>Manage Topics</strong></a>
                </li>
                {% if type != 'crons_log' %}
                    <li>
                        <div class="btn-group" style="margin:8px">
                            <a class="btn btn-default dropdown-toggle btn-blog " data-toggle="dropdown" href="#"
                               id="dropdownMenu1" style="width:200px;"><span
                                    class="selection pull-left">Select a Topic</span>
                                <span class="pull-right glyphiconglyphicon-chevron-down caret"
                                      style="float:right;margin-top:10px;"></span></a>
                            <ul class="dropdown-menu" id="topic_dropdown" role="menu" aria-labelledby="dropdownMenu1">
                                {% include'alertDropdownMenu.html' %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>

            <div class="navbar-brand" style="margin-left:30px">
                <p>
                    {% if type == "influencers" %}
                        Influencers
                    {% endif %}
                </p>
            </div>

            <div class="pull-right" style="margin:8px">
                {% if type == "news" %}
                    {% include 'newsDateButtons.html' %}
                {% endif %}
                {% if type == "conversation" %}
                    {% include 'conversationDateButtons.html' %}
                {% endif %}
                {% if type == "events" %}
                    {% include 'eventDateButtons.html' %}
                    {% include 'selectLocation.html' %}
                {% endif %}
                {% if type == "recommendations" %}
                    {% include 'selectLocation.html' %}
                    {% include 'recommendationRatedButton.html' %}
                {% endif %}
                {% if type == "audiences" %}
                    {% include 'selectLocation.html' %}
                {% endif %}
                {% if type == "influencers" %}
                    {% include 'selectLocation.html' %}
                {% endif %}
                {% if type == "tweets" and sub_type == 'list' %}
                    {% include 'tweetStatusButtons.html' %}
                {% endif %}
                <!--
                  <form class="navbar-form" role="search">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search" name="srch-term"
                                 id="srch-term">
                          <div class="input-group-btn">
                            <div class="btn-group" class="col-xs-6" style="float: right">
                                    <a href="/Search">
                                        <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                                    </a>
                                </div>
                              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                              </button>
                          </div>
                      </div>
                  </form>
                -->
            </div>
        </div>
    </div>
</div>

{% if type == "audiences" or type == "events" or type == "influencers" %}
    <button class="back-to-top" id="back-to-top">
        <a href="#" class="to-top-link">
            Back to top
        </a>
    </button>
{% endif %}

{% if type == "alertlist" %}
    <div class="container" style="padding:10px" id="alertspage">
        {% include 'alerts.html' %}
    </div>
{% endif %}
{% if type == "editAlert" %}
    {% include 'alertForm.html' %}
{% endif %}
{% if type == "createAlert" %}
    {% include 'alertForm.html' %}
{% endif %}
{% if type == "conversation" %}
    {% include 'conversation.html' %}
{% endif %}
{% if type == "news" %}
    {% include 'news.html' %}
{% endif %}
{% if type == "audiences" %}
    {% include 'audience.html' %}
{% endif %}
{% if type == "influencers" %}
    {% include 'influencers.html' %}
{% endif %}
{% if type == "recommendations" %}
    {% include 'recommendations.html' %}
{% endif %}
{% if type == "search" %}
    {% include 'search.html' %}
{% endif %}
{% if type == "events" %}
    {% include 'event.html' %}
{% endif %}
{% if type == "bookmark" %}
    {% include 'news.html' %}
{% endif %}
{% if type == "profile" %}
    {% include 'profile.html' %}
{% endif %}
{% if type == "twitterAuth" %}
    {% include 'twitterAuth.html' %}
{% endif %}
{% if type == "tweets" %}
    {% include 'tweetTemplate.html' %}
{% endif %}
{% if type == "crons_log" %}
    {% include 'crons_log.html' %}
{% endif %}
{% if type == "hashtag_chart" %}
    {% include 'hashtags.html' %}
{% endif %}
{% if type == "mention_chart" %}
    {% include 'mentions.html' %}
{% endif %}

</body>

<!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% if type != "hashtag_chart" and type != "mention_chart" %}
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.min.js"></script>
{% endif %}
<script src="/js/sweetalert.min.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>

<script src="/js/jquery.babypaunch.spinner.min.js"></script>


<script>
    $(document).ready(function () {
        var offset = 250;
        var duration = 300;
        $(window).scroll(function () {
            if (jQuery(this).scrollTop() > offset) {
                $("#back-to-top").fadeIn(duration);
            }
            else {
                $("#back-to-top").fadeOut(duration);
            }
        });

        $("#back-to-top").click(function (event) {
            event.preventDefault();
            $("html, body").animate({scrollTop: 0}, duration);
            return false;
        })

        $("#topic_dropdown").on('click', 'li a', function () {
            if ($(this).attr("data-id") != undefined) {
                var selText = $(this).children("h4").html();
                console.log(selText);
                $(this).parent('li').siblings().removeClass('active');
                $(this).parents('.btn-group').find('.selection').html(selText);
                $(this).parents('li').addClass("active");
                var topic_id = $(this).attr("data-id");
                $.ajax({
                    url: '/saveTopicId',
                    method: 'POST',
                    data: {
                        'topic_id': topic_id
                    }
                });
            }
        });

        $("#location_dropdown").on('click', 'li a', function () {
            if ($(this).attr("data-id") != undefined) {
                var selText = $(this).children("h4").html();
                console.log(selText);
                $(this).parent('li').siblings().removeClass('active');
                $(this).parents('.btn-group').find('.selection').html(selText);
                $(this).parents('li').addClass("active");
                var location = $(this).attr("data-id");
                $.ajax({
                    url: '/saveLocation',
                    method: 'POST',
                    data: {
                        'location': location
                    }
                });
            }
        });
    });
</script>

{% if topic %}
    <script type="text/javascript">
        $(document).ready(function () {
            var selText = $("li a[data-id={{topic['topic_id']}}]").children("h4").html();
            console.log({{topic}});
            $("li a[data-id={{topic['topic_id']}}]").parent('li').siblings().removeClass('active');
            $("li a[data-id={{topic['topic_id']}}]").parents('.btn-group').find('.selection').html(selText);
            $("li a[data-id={{topic['topic_id']}}]").parents('li').addClass("active");


            var selText = $("li a[data-id={{location}}]").children("h4").html();
            console.log("{{location}}");
            $("li a[data-id={{location}}]").parent('li').siblings().removeClass('active');
            $("li a[data-id={{location}}]").parents('.btn-group').find('.selection').html(selText);
            $("li a[data-id={{location}}]").parents('li').addClass("active");
        });
    </script>
{% endif %}

<!-- for alerts -->
{% if type == "alertlist" %}

    <script src="/js/bootstrap-notify.min.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/alertList.js"></script>

{% endif %}
<!-- for edit form -->
{% if type == "editAlert" or type == "createAlert" %}
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/rainbow.min.js"></script>
    <script src="/js/bootstrap-tagsinput.min.js"></script>
    <script src="/js/bootstrap-tagsinput-angular.min.js"></script>
    <script src="/js/generic.js"></script>
    <script src="/js/jquery.babypaunch.spinner.min.js"></script>
    <script src="/js/conversation.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/conversation.css"/>
    <script src="/js/event.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/event.css"/>
    <script src="/js/editcreatetopic.js"></script>
{% endif %}
<!-- for feed -->
{% if type == "feed" %}
    <script src="/js/feed.js"></script>
{% endif %}


{% if type == "search" %}
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/rainbow.min.js"></script>
    <script src="/js/bootstrap-tagsinput.min.js"></script>
    <script src="/js/bootstrap-tagsinput-angular.min.js"></script>
    <script src="/js/generic.js"></script>
    <script src="/js/jquery.babypaunch.spinner.min.js"></script>
    <script src="/js/search.js"></script>
{% endif %}

{% if type == "audiences" %}
    <script src="/js/audiences.js"></script>
{% endif %}

{% if type == "influencers" %}
    <script src="/js/influencers.js"></script>
{% endif %}

{% if type == "recommendations" %}
    <script src="/js/recommendations.js"></script>
{% endif %}

{% if type == "profile" %}
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/profile.js"></script>
{% endif %}


{% if type == "twitterAuth" %}
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/twitterAuth.js"></script>
{% endif %}

</html>
