<div class="container form-alert">
    <legend align="center">
        <h1>Topic Information</h1></legend>
    <div class="row" style="height: 550px">
        <div class="col-xs-6">
            <form id="bootstrapTagsInputForm" class="alert-form" method="post"
                  action={% if alert[ 'name'] !="" %} "/topicinfo/{{ alert['alertid'] }}"{% else %}
                      "/topicinfo"{% endif %}
            onkeypress="return event.keyCode != 13;">
            <!-- Text input-->
            <div class="form-group">
                <label for="Alert Name">Topic Name</label>
                <input name="alertname" class="form-control" id="alertname" type="text"
                       {% if alert[ 'name'] !="" %}value="{{ alert['name'] }}" disabled{% endif %}>
            </div>
            <div class="form-group">
                <label for="Alert Description">Topic Description</label>
                <input name="description" class="form-control" id="description" type="text"
                       {% if alert[ 'description'] !="" %}value="{{ alert['description'] }}" {% endif %}>
            </div>
            <!-- son eklenen -->
            <div class="form-group keyword" style="font-size: 16px">
                <label>Keywords</label>
                <br>
                <input type="text" id="keywords" name="keywords" class="form-control" value="{{ alert['keywords'] }}"
                       data-role="tagsinput"/>
                <p class="counter" style="font-size:15px">Keyword Limit: {{ alert['keywordlimit'] }}</p>
            </div>

            <!--
                <div class="form-group" style="font-size: 18px">
                    <label>Excluded Keywords</label>
                    <br>
                    <input type="text" id="excludedkeywords" name= "excludedkeywords" class="form-control" value="{{alert['excludedkeywords']}}" data-role="tagsinput"/>
                </div>
              -->
            <!-- Select Multiple -->
            <div class="form-group">
                <label for="Languages">Languages</label>
                <select size="7" class="form-control" name="languages" id="languages" multiple="multiple">
                    <option id="opt" value="en" {% if "en" in alert['lang'] %}selected="active"{% endif %}>English
                    </option>
                    <option id="opt" value="fr" {% if "fr" in alert['lang'] %}selected="active"{% endif %}>French
                    </option>
                    <option id="opt" value="de" {% if "de" in alert['lang'] %}selected="active"{% endif %}>German
                    </option>
                    <option id="opt" value="es" {% if "es" in alert['lang'] %}selected="active"{% endif %}>Spanish
                    </option>
                    <option id="opt" value="it" {% if "it" in alert['lang'] %}selected="active"{% endif %}>Italian
                    </option>
                    <option id="opt" value="tr" {% if "tr" in alert['lang'] %}selected="active"{% endif %}>Turkish
                    </option>
                    <option id="opt" value="ru" {% if "ru" in alert['lang'] %}selected="active"{% endif %}>Russian
                    </option>
                </select>

            </div>

            <!-- Button -->
            <div class="form-group">
                <label for="Submit"></label>
                <button type="button" class="btn btn-info" id="previewbutton">Preview</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>


        <div class="col-xs-6 column-preview" style="height : 100%;">

            <div class="preview" style='position:relative'>
                <ul class="nav nav-pills"
                    style='position:absolute;top:0;background-color:white;width:100%;margin-bottom:10px'>
                    <li class="active"><a data-toggle="pill" href="#preview-events">Events</a></li>
                    <li><a data-toggle="pill" href="#preview-conversations">Conversations</a></li>
                    <li><a data-toggle="pill" href="#preview-news">News</a></li>
                </ul>
            </div>

            <div style=" overflow: scroll; height :100%">

                <div class="tab-content" id="preview">
                    <div class="tab-pane fade in active" id="preview-events" style="padding-top:40px">
                        <div class="loader" id="loader-events"></div>

                    </div>
                    <div class="tab-pane fade" id="preview-conversations" style="padding-top:40px">
                        <div class="loader" id="loader-conversations"></div>

                    </div>
                    <div class="tab-pane fade" id="preview-news" style="padding-top:40px">
                        <div class="loader" id="loader-news"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
