    <div id="alerts">
      <div class="col-sm-9">
        {% if alertlimit != 0 %}
          <a href="/alertinfo">Create a new alert</a>
        {% else %}
          <p style="color: red; font-size: 15px"><b>You cannot create a new alert because your limit is full. If you want create a new alert, please remove old ones.</b></p>
        {% endif %}
      </div>

      <div class="col-sm-3">
        <p style="text-allign:right"><b>Thread Status:
          {% if threadstatus %}<span class="glyphicon glyphicon-ok"></span>
          {% else %} <span class="glyphicon glyphicon-remove">
          {% endif %}</b> </p>
      </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Alert Name</th>
                    <th>Keywords</th>
                    <!--<th>Exclude Keywords</th>-->
                    <th>Creation Time</th>
                    <th>#Tweets</th>
                    <th>Edit</th>
                    <th>Remove</th>
                    <th>Start/Stop</th>
                </tr>
            </thead>
            <tbody>
                {% for alert in alerts %}
                <tr>
                    <td><a href="/Feed/{{alert['alertid']}}" style="text-decoration : none; color : #000000;">{{ alert['name'] }}</a></td>
                    <td>{{ ", ".join(alert['keywords']) }}</td>
                    <!--<td>{{ ", ".join(alert['excludedkeywords']) }}</td>-->
                    <td style="text-align:center">{{alert['creationTime']}}</td>
                    <td style="text-align:center">{{alert['tweetCount']}}</td>
                    <td>
                        <a href="/alertinfo/{{alert['alertid']}}">
                            <button type="button" name="edit" class="btn btn-default">Edit</button>
                        </a>
                    </td>
                    <td>
                    <button onclick= "alertbuttonclick({{alert['alertid']}}, 'remove');" posttype = "remove" alertid = "{{alert['alertid']}}" class="btn btn-default">Remove</button>
                    </td>
                    <td>
                        {% if not alert['status'] %}
                        <button onclick= "alertbuttonclick({{alert['alertid']}}, 'start');" posttype = "start" alertid = "{{alert['alertid']}}" class="btn btn-default">
                  <span class="glyphicon glyphicon-play"></span>
                </button> {% else %}
                        <button onclick= "alertbuttonclick({{alert['alertid']}}, 'stop');" posttype = "stop" alertid = "{{alert['alertid']}}" class="btn btn-default">
                  <span class="glyphicon glyphicon-stop"></span>
                </button> {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
