<div class="container" style="padding:10px">
  <a href="/alertinfo">Create a new alert</a>
    <table class="table">
      <thead>
        <tr>
          <th>Alert Name</th>
          <th>Keywords</th>
          <th>Edit</th>
          <th>Status</th>
          <th>Remove</th>
          <th>Creation Time</th>
        </tr>
      </thead>
      <tbody>
      {% for alert in alerts %}
        <tr>
          <td>{{ alert['name'] }}</td>
          <td>{{ ", ".join(alert['keywords']) }}</td>
          <td>
            <a href="/alertinfo/{{alert['id']}}">
              <button type="button" name="edit" class="btn btn-default">Edit</button>
            </a>
          </td>
          <td>
              {% if not alert['status'] %}
              <form action="Alerts/{{alert['id']}}/start" method="post" style="float: left">
                <button type="submit" class="btn btn-success">
                  <span class="glyphicon glyphicon-play" style="color: white"></span>
                </button>
              </form>
              {% else %}
              <form method="post" action="Alerts/{{alert['id']}}/stop" style="float: left">
                <button type="submit" class="btn btn-danger">
                  <span class="glyphicon glyphicon-stop" style="color: white"></span>
                </button>
              </form>
              {% endif %}
          </td>
          <td>
            <form action="Alerts/{{alert['id']}}/remove" method="post">
                <button type="submit" class="btn btn-default" style="float: left">Remove</button>
            </form>
          </td>
          <td>{{alert['creationTime']}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
