<div id="alerts">

    <div class="wrapper">
      <h2>Topics You Have Created</h2>
        <div class="grid">
            {% for alert in alerts %} {% if alert['type'] == 'me' %}
            {% include 'topic_card.html' %}
        {% endif %} {% endfor %}

            <div class="topic_card" style="margin-top:2.5%">
                {% if alertlimit != 0 %}
                    <div onclick="location.href='/topicinfo';"
                         style="padding: 30%;width: 100%;height: 100%;cursor: pointer; background-color:rgba(157,157,157,0.8);">
                        <p style="font-size:16px;color:white">Create a new topic</p>
                    </div>
                {% else %}
                    <div class="container"
                         style="padding:18%;width: 100%;height: 100%; background-color:rgba(157,157,157,0.8)">
                    <p style="color: red; font-size: 15px"><b>You cannot create a new topic because your limit is
                        full.
                        If
                        you
                        want create a new topic, please remove old ones.</b></p>
                {% endif %}
                </div>
            </div>
        </div>

        <hr>

        <h2>Topics You Have Subscribed</h2>
        <div class="grid">
             {% for alert in alerts %} {% if alert['type'] == 'subscribed' %}
            {% include 'topic_card.html' %}
        {% endif %} {% endfor %}

        </div>
        <hr>
        <h2>Topics You Can Subscribe</h2>
        <div class="grid">
          {% for alert in alerts %} {% if alert['type'] == 'unsubscribed' %}
            {% include 'topic_card.html' %}
        {% endif %} {% endfor %}
        </div>
    </div>
</div>
