{% if audience_stats is defined and cursor == 21 %}
    <div class="audience_card" cursor="{{ cursor }}">
        <div class="stats">
            <h3> Statistics: </h3> ---
           <ul>
                <!-- <li>Topic id/location <span>{{ audience_stats['topic_id']}} / {{ audience_stats['location']}} </span></li> <br/><br/> !-->
                <li>Execution time (in seconds): <span>{{ audience_stats['execution_duration']}}</span></li> <br/><br/>
                <li>Last executed: <span>{{ audience_stats['last_executed'] }}</span></li> <br/><br/>
                <li>Filtered by predicted location/regex: <span>{{ audience_stats['from_predicted_location'] }} / {{ audience_stats['from_regex'] }} </span></li> <br/>
            </ul>
        </div>
    </div>
{% endif %}

{% for audience in audiences %}

    <div class="audience_card" cursor="{{ cursor }}">
        <div class="bg" style="background-image:url({{ audience['profile_banner_url'] }})"></div>
        <div class="pp" align="center">
            <img src="{{ (audience['profile_image_url_https'][:4] + audience['profile_image_url_https'][5:]).replace('normal', '400x400') }}" alt=""/>
        </div>
        <div class="details">
            <span id="name">{{ audience['name'] }}</span>
            <a href="http://twitter.com/{{ audience['screen_name'] }}" target="_blank"><span
                    id="nick"> @{{ audience['screen_name'] }} </span></a>
            <span id="description">{{ audience['description'] }}</span>
            <ul>
                <li>Tweets <span>{{ audience['statuses_count'] }}</span></li>
                <li>Follow <span>{{ audience['friends_count'] }}</span></li>
                <li>Followers <span>{{ audience['followers_count'] }}</span></li>
            </ul>
        </div>

        <div class="vote_audience" style="font-size:0.7em;text-align:right">
          <input id="rate_{{ audience['id'] }}" data-show-caption="false" onchange="rateAudience('{{ audience['id'] }}')" class="rating rating-loading" data-size="xs" data-min="0" data-max="5" data-step="0.5" value="{{ audience['rate'] }}">
        </div>
    </div>

{% endfor %}

<script type="text/javascript" src="static/js/star-rating.js"/>
