<div class="container">
  <h2><strong>Feed</strong></h2>
  <div class="btn-group">
    <a class="btn btn-default dropdown-toggle btn-blog " data-toggle="dropdown" href="#" id="dropdownMenu1" style="width:200px;"><span class="selection pull-left">Select an option </span>
    <span class="pull-right glyphiconglyphicon-chevron-down caret" style="float:right;margin-top:10px;"></span></a>
     <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
       {% for alert in alerts %}
       <li><a data-id="{{alert['id']}}" class="alertids"><p> alert information bla bla </p> <h4> <span> {{alert['name']}}</span> </h4></a>  </li>
       {% endfor %}
    </ul>
  </div>
</div>
<div class="container" id="feedcontainer">

</div>
