{% for influencer in local_influencers %}
    <div class="influencer_card" cursor="{{ cursor }}" {% if influencer['hidden'] == True %} style="opacity:0.3" {% endif %} id="{{influencer['id']}}">
        <div class="bg" style="background-image:url({{ influencer['profile_banner_url'] }})"></div>
        <div class="pp" align="center">
            <img src="{{ (influencer['profile_image_url_https'][:4] + influencer['profile_image_url_https'][5:]).replace('normal', '400x400') }}" alt=""/>
        </div>
        <div class="details">
            <span id="name">{{ influencer['name'] }}</span>
            <a href="http://twitter.com/{{ influencer['screen_name'] }}" target="_blank"><span
                    id="nick"> @{{ influencer['screen_name'] }} </span></a>
            <span id="description">{{ influencer['description'] }}</span>
            <ul>
                <li>Tweets <span>{{ influencer['statuses_count'] }}</span></li>
                <li>Follow <span>{{ influencer['friends_count'] }}</span></li>
                <li>Followers <span>{{ influencer['followers_count'] }}</span></li>
            
                {% if 'retrieved_follower_id_count' in influencer and 'retrieved_follower_count' in influencer%}
                    <li> Retrieved follower profiles/ids <span> {{ influencer['retrieved_follower_count'] }} / {{ influencer['retrieved_follower_id_count'] }}</span></li>
                {% elif 'retrieved_follower_id_count' in influencer %}
                    <li> Retrieved follower profiles/ids <span> N/A / {{ influencer['retrieved_follower_id_count'] }} </span></li>
                {% elif 'retrieved_follower_count' in influencer %}
                    <li> Retrieved follower profiles/ids <span>{{ influencer['retrieved_follower_count'] }} /  N/A </span></li>
                {% endif %}

                {% if 'last_refreshed' in influencer %}
                    <li> Last Refreshed <span> {{ influencer['last_refreshed'] }} </span> </li>
                {% endif %}

                {% if 'last_processed' in influencer %}
                    <li> Last Processed <span> {{ influencer['last_processed'] }} </span> </li>
                {% endif %}
            </ul>
        </div>

        <button class="managebtn" onclick="hideInfluencer('{{influencer['id']}}','',$(this).children('a'));">
            {% if influencer['hidden'] == False %}
              <a class="text" hiddenflag=false href="javascript:void(0)">Hide</a>
            {% endif %}
            {% if influencer['hidden'] == True %}
              <a class="text" hiddenflag=true href="javascript:void(0)">Unhide</a>
            {% endif %}
        </button>

        <button class="managebtn" style="left:0" onclick="fetchFollowers('{{influencer['id']}}', $(this).children('a'));">
            {% if influencer['in_fetch_followers_queue'] == False %}
              <a class="text" fetchflag=false href="javascript:void(0)"> Fetch followers </a>
            {% endif %}
            {% if influencer['in_fetch_followers_queue'] == True %}
              <a class="text" fetchflag=true href="javascript:void(0)"> Cancel fetch followers </a>
            {% endif %}
        </button>



    </div>

{% endfor %}
