{% for feed in feeds %}
<div class="row margin-bottom-25" cursor="{{ cursor }}">
    <div class="col-md-3">
            <img src="{{feed['im']}}" class="img-responsive feed_img">
    </div>
    <div class="col-md-9">
      <p></p>
      <a href="{{feed['url']}}" target="_blank" style="color: #FFFFFF;text-decoration: none;">
      <h4> <span> <strong>{{feed['title']}}</strong></span> </h4></a>
      <p>Source: <a href="{{feed['source']}}" target="_blank">{{feed['source']}}</a> </p><p></p>
        <p>
        </p><p>{{feed['description']}}</p>
        <p></p>
    </div>
    <div class="col-md-12 margin-top-25">
        <hr>
    </div>
</div>
{% endfor %}
