<div id="spin" style=" z-index: 100;"></div>
{% if comesAlert %}
<div class="container" style="margin-bottom:10px">
  <h2 style="margin-left:50px"><strong>{{alertname}}</strong></h2>
</div>
<div class="container" id="newscontainer" date="yesterday">
  <div class = "btn-group">
     <button onclick="getDate('yesterday')" date="yesterday" class = "btn btn-success">Yesterday</button>
     <button onclick="getDate('week')" date="week" class = "btn btn-default">Week</button>
     <button onclick="getDate('month')" date="month" class = "btn btn-default">Month</button>
  </div>
  {% include 'alertNews.html' %}
</div>
{% else %}
  <div class="container" style="margin-bottom:10px">
      <h2><strong>News</strong></h2>
      <div class="row">
          <div class="btn-group" class="col-xs-6">
              <a class="btn btn-default dropdown-toggle btn-blog " data-toggle="dropdown" href="#" id="dropdownMenu1" style="width:200px;"><span class="selection pull-left">Select an option </span>
      <span class="pull-right glyphiconglyphicon-chevron-down caret" style="float:right;margin-top:10px;"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  {% for alert in alerts %}
                  <li>
                      <a data-id="{{alert['alertid']}}" class="newsalerts">
                          <h4> <span> {{alert['name']}}</span> </h4>
                          <p>Keywords: {{ ", ".join(alert['keywords']) }} <br> Languages: {{ ", ".join(alert['lang']) }} </p></a>
                  </li>
                  {% endfor %}
              </ul>
          </div>
          <div class = "btn-group" id="date_buttons" style="display: none; float: right">
             <button onclick="getDate()" date="yesterday" class = "btn btn-success">Yesterday</button>
             <button onclick="getDate()" date="week" class = "btn btn-default">Week</button>
             <button onclick="getDate()" date="month" class = "btn btn-default">Month</button>
          </div>
      </div>
  </div>
  <div class="container" id="newscontainer" date="yesterday">
  </div>
{% endif %}
