<div class="btn-group" id="date_buttons" style="float: right">
    <button onclick="getDate('yesterday');" date="yesterday" class="btn btn-success">Yesterday</button>
    <button onclick="getDate('week');" date="week" class="btn btn-default">Week</button>
    <button onclick="getDate('month');" date="month" class="btn btn-default">Month</button>
    <!--<button onclick="getDate('bookmarks');" date="bookmarks" class="btn btn-default"><span
            class="glyphicon glyphicon-bookmark"></span> Bookmarks
    </button>
  -->
</div>
