<div class="col-sm-6" style="margin-bottom:15px;margin-top:15px">
    <label for="FBPages">Facebook Pages</label>
    <select size="5" class="form-control" name="facebookpages" id="facebookpages" multiple="multiple">
        {% for facebookpage in facebookpages %}
            <option id="opt" value="{{ facebookpage['page_id'] }}">{{ facebookpage['page_name'] }}</option>
        {% endfor %}
    </select>

</div>
<div class="col-sm-6" style="margin-bottom:15px;margin-top:15px">
    <label for="Subreddits">Subreddits</label>
    <select size="5" class="form-control" name="subreddits" id="subreddits" multiple="multiple">
        {% for redditsubreddit in redditsubreddits %}
            <option id="opt" value="{{ redditsubreddit }}">{{ redditsubreddit }}</option>
        {% endfor %}
    </select>

</div>
