<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="twitter:card" content="summary_large_image" />
  <!--<meta name="twitter:site" content="@nytimesbits" />
  <meta name="twitter:creator" content="@nickbilton" />-->
  <meta property="og:url" content="{{ tweet['url'] }}" />
  <meta property="og:title" content="{{ tweet['title'] }}" />
  <meta property="og:description" content="{{ tweet['description'] }}" />
  <meta property="og:image" content="{{ tweet['image_url'] }}" />
</head>
<body>

</body>
</html>
