{% if tweets %} {% for tweet in tweets %}
<div class="tweet_card" id='tweet_{{ tweet["tweet_id"] }}'>
    <div class="pp" align="left">
        <div align="center">
          <img src="{{ (twitter_user['profile_image_url'][:4] + twitter_user['profile_image_url'][5:]).replace('normal', '400x400') }}" alt=""/>
        </div>
        <div style="margin-top: 12px;">
          <span id="name"><b>{{ twitter_user['user_name'] }}</b></span> <br>
          <a href="http://twitter.com/{{ twitter_user['screen_name'] }}" style="text-decoration: none;" target="_blank"><span
                  id="nick"> @{{ twitter_user['screen_name'] }} </span></a>
        </div>
        <div class="buttons" style="padding-top:12px" align="right">
          <button type="button" onclick="saveTweet({{ tweet["tweet_id"] }})" class="btn btn-primary btn-save" {% if not new_tweet %} disabled {% endif %}>Save</button>
          {% if not new_tweet %}<button type="button" onclick="removeTweet({{ tweet["tweet_id"] }})" class="btn btn-danger btn-remove">Remove</button>{% endif %}
        </div>
    </div>
    <div class="details">
        <div id="description" class="textarea" contenteditable="true">{{ tweet['body'] }}</div>
        <input id="date" size="23" type="text" value="{{ tweet['published_at'] }}" readonly class="form_datetime">
        <div id="tweet_link">
        	<a href="{{ tweet['url'] }}" target="_blank" rel="noopener" id="ref">
        	<div id="image" style="background-image:url({{ tweet['image_url'] }})" value="{{ tweet['image_url'] }}">
        	</div>
        	<div id="content">
        			<h2 id="title">{{ tweet['title'] }}</h2>
        			<p id="tweet_link_description">{{ tweet['description'] }}</p>
              <span id="source">{{ tweet['source'] }}</span>
        		</div>
          </a>
        </div>
    </div>
</div>
{% endfor %} {% endif %}
