<div id="spin" style=" z-index: 100;"></div>

<div class="container" style="margin-bottom:10px">
  <form class="form-inline" onkeypress="return event.keyCode != 13;">
  <div class="form-group">
      <label>Keywords</label>
      <br>
      <input type="text" id="keywords" name= "keywords" class="form-control" data-role="tagsinput"/>
  </div>

  <div class="form-group">
      <label>Cities</label>
      <br>
      <input type="text" id="cities" name= "cities" class="form-control" data-role="tagsinput"/>
  </div>

  <div class="form-group">
      <label>Countries</label>
      <br>
      <input type="text" id="countries" name= "countries" class="form-control" data-role="tagsinput"/>
  </div>

  <!-- Select Multiple -->
  <div class="form-group">
      <label for="Languages">Languages</label>
      <select size="7" class="form-control" name= "languages" id="languages" multiple="multiple">
          <option id="opt" value="en">English</option>
          <option id="opt" value="fr">French</option>
          <option id="opt" value="de">German</option>
          <option id="opt" value="es">Spanish</option>
          <option id="opt" value="it">Italian</option>
          <option id="opt" value="tr">Turkish</option>
          <option id="opt" value="ru">Russian</option>
      </select>

  </div>

  <div class="form-group">
      <label>Mention Location</label>
      <br>
      <input type="text" id="mention_location" name= "mention_location" class="form-control" data-role="tagsinput"/>
  </div>

  <!-- Select Multiple -->
  <div class="form-group">
      <label for="Mention_Languages">Mention Languages</label>
      <select size="7" class="form-control" name= "mention_language" id="mention_language" multiple="multiple">
          <option id="opt" value="en">English</option>
          <option id="opt" value="fr">French</option>
          <option id="opt" value="de">German</option>
          <option id="opt" value="es">Spanish</option>
          <option id="opt" value="it">Italian</option>
          <option id="opt" value="tr">Turkish</option>
          <option id="opt" value="ru">Russian</option>
      </select>

  </div>

  <button id="searchButton" type="button" class="btn btn-primary">Search</button>

</form>
</div>
<div class="container" style="margin-top:20px" id="newscontainer">
