<div class="btn-group" style="margin-right:16px">
  <a class="btn btn-default dropdown-toggle btn-blog " data-toggle="dropdown" href="#" id="dropdownMenu1" style="width:200px;"><span
            class="selection pull-left">Select a Location</span>
        <span class="pull-right glyphiconglyphicon-chevron-down caret"
              style="float:right;margin-top:10px;"></span></a>
  <ul class="dropdown-menu" id="location_dropdown" role="menu" aria-labelledby="dropdownMenu1">
    {% for relevant_location in relevant_locations %}
    <li>
      <a data-id="{{ relevant_location['location_code'] }}">
        <h4><span>{{ relevant_location['location_name'] }}</span></h4>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
