<div class="btn-group">
    <a class="btn btn-default dropdown-toggle btn-blog " data-toggle="dropdown" href="#"
       id="dropdownMenu1" style="width:200px;"><span
            class="selection pull-left">Select a Language</span>
        <span class="pull-right glyphiconglyphicon-chevron-down caret"
              style="float:right;margin-top:10px;"></span></a>
    <ul class="dropdown-menu" id="location_dropdown" role="menu" aria-labelledby="dropdownMenu1">
          <li>
              <a data-id="italy">
                  <h4><span>Italy</span></h4>
              </a>
          </li>
          <li>
              <a data-id="slovakia">
                  <h4><span>Slovakia</span></h4>
              </a>
          </li>
          <li>
              <a data-id="spain">
                  <h4><span>Spain</span></h4>
              </a>
          </li>
          <li>
              <a data-id="uk">
                  <h4><span>UK</span></h4>
              </a>
          </li>
    </ul>
</div>
