<div class="wrapper">
    {% for event in document['events'] %}

        <div class="event_card">
            <div class="bg" style="background-image:url({{ event['cover'] }})"></div>

            <div class="details">
                <a href='{{ event['link'] }}' target='_blank'><span id="title"><b>{{ event['name'] }}</b></span></a>
                <span id="place">{{ event['place'] }}</span>
                <span id="date">{{ event['start_time'] }}</span>
                <ul>
                    <li>Coming <span>{{ event['coming'] }}</span></li>
                    <li>Interested <span>{{ event['interested'] }}</span></li>
                </ul>
            </div>
        </div>

    {% endfor %}
</div>
