{% if docs|length == 0 %}
    <p style='color: red; font-size: 15px'><b>Conversations Feed is empty.</b></p>
{% endif %}

{% for post in docs %}
    <div class="post">

        <div class="post-box">

            
			<span>
				{% if post["source"] == "reddit" %}
                    <img src="/images/r-logo.png" alt="logo" style="width:30px;height:30px">
                {% else %}
                    <img src="/images/fb-logo.png" alt="logo" style="width:30px;height:30px">
                {% endif %}
			</span>

            <div class="btn-group" style='float:right'>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret" style="float:right"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1"
                    style='padding-left:3px;width:auto'>
                    <li style='display:flex'>
                        <span class="glyphicon glyphicon-ban-circle" style='margin-top:6px'></span>
                        <span>
                            <div><strong>Ban Subreddit</strong></div>
                            <div style='color:gray;font-size:12px'>Stop seeing posts from this subreddit</div>
                        </span>
                    </li>
                </ul>
            </div>

            <span style="font-size:1.2em;font-weight:bold">
                {{ post["title"] }}
            </span>

            <div>
                <span style='color:#666666;padding-left:0.3em'>
                    {% if post["source"] == "reddit" %}
                        r/{{ post['subreddit'] }}
                    {% endif %}    
                </span>

                <span style='color:#666666;padding-left:1.5em'>
                    {% if post["source"] == "reddit" %}
                        {{ post['created_time'] }}
                    {% endif %}    
                </span>
            </div>

            <br>

            {% if post["post_text"]|length == 0 %}
                <div id="post-text">
                    <a href="{{ post["url"] }}" target="_blank">
                        {{ post["url"] }}
                    </a>
                </div>
            {% else %}
                <div id="post-text">
                    {{ post["post_text"] }}
                </div>
            {% endif %}

            <a id="read-more-post-button" class="btn btn-xs" onclick="readMorePost(this)">Read More</a>

        </div>

        <span>
				<a onclick="openComment(this)" id="open-comment-button">+</a>
			</span>

        <span>
				view {{ post["commentNumber"] }} comments
			</span>

        <div class="comments all-comments-closed">
            {% for item in post["comments"] %}
                {% if not loop.first %}
                    {% if item["relative_indent"] == 0 %}
                        </div>
                    {% elif item["relative_indent"]<0 %}
                        {% for i in range(-1*item["relative_indent"]+1) %}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                <div></div>

                <div class="author-id">
                    <a onclick="openInnerComment(this)" id="open-comment-button">-</a>
                    <h5 style="display:inline;font-size:11px">{{ item["comment_author"] }}</h5>
                    <p style="display:inline;font-size:11px">{{ item["created_time"] }}</p>
                </div>

                <div class="comment-box">

                    <div class="{{ item["indent_number"] }}">

                        <div>

                            <div class="comment-text">
                                {{ item["comment_text"] }}
                            </div>

                            <a id="read-more-comment-button" class="btn btn-xs" onclick="readMore(this)">Read More</a>

                        </div>

                    </div>
                    {% if loop.last %}
                        {% for i in range(item["indent_number"]+1) %}
                            </div>
                        {% endfor %}
                    {% endif %}
            {% endfor %}
    </div>
    </div>
{% endfor %}
