<div class="topic_card">
    <div class="container" style="padding: 16px 16px;width: 100%;">
        <h3><b>{% if alert['type'] == 'subscribed' %}
            <span style="color:#50AE54" title="You subscribe to this topic."
                  class="glyphicon glyphicon-certificate"></span> {% endif %}{{ alert['name'] }}</b></h3>
        <div class="dropdown" style="float:right">
            <button class="dropbtn">More</button>
            <div class="dropdown-content">
                {% if alert['type'] == 'me' %}
                    <a href="/topicinfo/{{ alert['alertid'] }}">Edit</a>
                    <a href="javascript:void(0)" onclick="alertbuttonclick({{ alert['alertid'] }}, 'remove');"
                       posttype="remove" alertid="{{ alert['alertid'] }}">Remove</a>
                    {% if not alert['status'] %}
                        <a href="javascript:void(0)" onclick="alertbuttonclick({{ alert['alertid'] }}, 'start');"
                           posttype="start" alertid="{{ alert['alertid'] }}">Start</a> {% else %}
                        <a href="javascript:void(0)" onclick="alertbuttonclick({{ alert['alertid'] }}, 'stop');"
                           posttype="stop" alertid="{{ alert['alertid'] }}">Stop</a> {% endif %}
                    {% if not alert['publish'] %}
                        <a href="javascript:void(0)" onclick="alertbuttonclick({{ alert['alertid'] }}, 'publish');"
                           posttype="publish" alertid="{{ alert['alertid'] }}">Publish</a> {% else %}
                        <a href="javascript:void(0)" onclick="alertbuttonclick({{ alert['alertid'] }}, 'unpublish');"
                           posttype="unpublish" alertid="{{ alert['alertid'] }}">Unpublish</a>
                    {% endif %} {% elif alert['type'] == 'subscribed' %}
                    <a href="javascript:void(0)" onclick="alertbuttonclick({{ alert['alertid'] }}, 'unsubscribe');"
                       posttype="unsubscribe" alertid="{{ alert['alertid'] }}">Unsubscribe</a> {% endif %}
            </div>
        </div>
        <hr>
        <p style="font-size:15px"><b>Keywords:</b> {{ ", ".join(alert['keywords']) }} <br>
            <b>Languages:</b> {{ ", ".join(alert['lang']) }}</p>
        <p style="font-size:14px"><b>News Count:</b> {{ alert['newsCount'] }} <br>
            <b>Audience Count:</b> {{ alert['audienceCount'] }} <br>
            <b>Event Count:</b> {{ alert['eventCount'] }} <br>
            <b>Tweet Count:</b> {{ alert['tweetCount'] }} <br> <b>Hashtags:</b>
            {% for hashtag in alert['hashtags'] %}
                {% if hashtag['active'] %}
                    <button style="margin: 1px" id="{{ alert['alertid'] }}_{{ hashtag['hashtag'] }}" type="button" class="btn btn-success btn-xs"
                            onclick="hashtagSave('{{ alert['alertid'] }}', '{{ hashtag['hashtag'] }}', false)">{{ hashtag['hashtag'] }}
                        <span
                                class="badge">{{ hashtag['count'] }}</span></button>
                {% else %}
                    <button style="margin: 1px" id="{{ alert['alertid'] }}_{{ hashtag['hashtag'] }}" type="button" class="btn btn-success btn-outline btn-xs"
                            onclick="hashtagSave('{{ alert['alertid'] }}', '{{ hashtag['hashtag'] }}', true)">{{ hashtag['hashtag'] }} <span
                            class="badge">{{ hashtag['count'] }}</span></button>
                {% endif %}
            {% endfor %}
            <br> <br>
            <span style="font-size:13px;float:right">{% if alert['type'] != 'me' %}<b>Created by:</b>
                {{ alert['created_by'] }} <br>{% endif %}<b>Created at:</b> {{ alert['creationTime'] }} <br>
                  <b>Last tweet updated date:</b> {{ alert['updatedTime'] }} <br> <b>Last news updated date:</b> {{ alert['newsUpdatedTime'] }} </span>
        </p>
    </div>
</div>