# m h  dom mon dow   command

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
PIPENV_VENV_IN_PROJECT=1
PIPENV_PIPFILE=/root/cloud/Pipfile

0 */1 * * * bash /root/cloud/crontab_module/cron.sh "News Date Filter" "0_*/1_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/date_filter.py"
0 3 * * * bash /root/cloud/crontab_module/cron.sh "Facebook Reddit" "0_3_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/facebook_reddit_crontab.py"
0 1 * * * bash /root/cloud/crontab_module/cron.sh "Hashtag Filter" "0_1_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/hashtagcrontab.py"
0 0 * * 1 bash /root/cloud/crontab_module/cron.sh "Get Influencers" "0_0_*_*_1" "pipenv run python3 /root/cloud/crontab_module/crons/get_influencers.py"
0 * * * */3 bash /root/cloud/crontab_module/cron.sh "Refresh Influencers" "0_*_*_*_*/3" "pipenv run python3 /root/cloud/crontab_module/crons/refresh_influencers.py"
0 1 * * 1 bash /root/cloud/crontab_module/cron.sh "Database Clean" "0_1_*_*_1" "pipenv run python3 /root/cloud/crontab_module/crons/clear_db_one_month.py"
0 */3 * * * bash /root/cloud/crontab_module/cron.sh "Audience Filter" "0_*/3_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/get_audience_sample_fast.py"
0 3 * * 0 bash /root/cloud/crontab_module/cron.sh "Update Predicted Location" "0_3_*_*_0" "pipenv run python3 /root/cloud/crontab_module/crons/update_predicted_location_crontab.py"
0 0 * * 6 bash /root/cloud/crontab_module/cron.sh "Local Influencers" "0_0_*_*_6" "pipenv run python3 /root/cloud/crontab_module/crons/get_local_influencers.py"
0 3 * * * bash /root/cloud/crontab_module/cron.sh "Events Harvester" "0_3_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/get_events.py"
0 */12 * * * bash /root/cloud/crontab_module/cron.sh "Update Ids of Last Tweets" "0_*/12_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/update_ids_last_tweets.py"
0 0 * * */4 bash /root/cloud/crontab_module/cron.sh "Get Last Tweets" "0_0_*_*_*/4" "pipenv run python3 /root/cloud/crontab_module/crons/update_ids_last_tweets.py"
0 1 * * * bash /root/cloud/crontab_module/cron.sh "Daily Hashtag" "0_1_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/hashtag_daily.py"
0 1 * * * bash /root/cloud/crontab_module/cron.sh "Daily Mention" "0_1_*_*_*" "pipenv run python3 /root/cloud/crontab_module/crons/mention_daily.py"

##########################################################################
